
*.cache
*.cache
*.Cache
*.exe
*.application
*.exe
*.manifest
*.pdb
*.application
*.manifest
*.application
.vs/Convertidor_K/v14/.suo
.vs/Convertidor_K/v14/.suo
.vs/Convertidor_K/v14/.suo
Convertidor_K/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Convertidor_K/bin/Debug/app.publish/Convertidor_K.exe
*.exe
Convertidor_K/bin/Debug/Convertidor_K.application
Convertidor_K/bin/Debug/Convertidor_K.exe
*.manifest
*.application
*.application
*.txt
*.Cache
*.cache
*.resources
*.cache
*.pdb
Convertidor_K/bin/Debug/app.publish/Convertidor_K.exe
*.exe
.vs/Convertidor_K/v14/.suo
*.pdb
*.manifest
*.exe
*.cache
*.Cache
*.application
*.csproj
*.manifest
*.pdb
