
*.cache
*.cache
*.Cache
*.exe
*.application
*.exe
*.manifest
*.pdb
*.application
*.manifest
*.application
.vs/Convertidor_K/v14/.suo
.vs/Convertidor_K/v14/.suo
.vs/Convertidor_K/v14/.suo
Convertidor_K/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Convertidor_K/bin/Debug/app.publish/Convertidor_K.exe
